* ,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'lato';
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%;
}


img {
    height: auto;
    max-width: 100%;
}

body {
    display: flex;
    background-color: #eee;
    flex-direction: column;
}

h1 , h2 , h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

