header {
   .header__container {
      padding: 43px 34px 0 34px;
      max-width: 250px;
      min-height: 946px;
      background: linear-gradient(175.93deg, #5F00D8 -10.23%, #B200F1 117.03%);

      hr {
         opacity: 0.2;
         border: 1px solid #FFFFFF;
         margin: 35px 0;
      }
   }
}